@import '../../../../styles/vars.scss';

.bakerie-section {
    width: 80%;
    margin: 0 auto;

    &section-title {
        
    }
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.bakerie-search {
    background-color: $second-color;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    width: 50%;
}