@import '../../../styles/vars';

.formQuantity{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 19px;
  padding: 0.5rem;
  height: 10vh;
 
}
.labelQuantity{
  display: flex;
  justify-content: center;
}
.inputNumber {
  border: none;
  background-color: $second-color;
  border-radius: 5px;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  width: 15%;
  color: white;
  text-align: center;
}
.formAddQuantity {
  border-radius: 15px;
  border: none;
  margin: auto;
  background-color: $second-color;
  color:white
}
