@import '../../../../styles/vars.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-container {
        display: flex;
        gap: 1rem;
        margin-left: 1rem;
    }
  
    &-responsive-open {
      display: flex;
      align-items: center;
    }

    &-responsive-open-button {
      background-color: $base-color;
      border: none;
      color: #fff;
      display: none;
    }

    &-navbar-pofile {
      background-color: $base-color;
      border: none;
    }

    &-profile-img {
      border-radius: 50%;
    }

    &-menu {
      display: flex;
      margin-right: 1rem;
      gap: 0.5rem;
      align-items: center;
    }

    .navbar-item {
      padding: 0.5rem;
      height: 36px;
      border-radius: 5px;
      background-color: $button-color;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      justify-content: center;
    }

}

.adress-input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
}

#overlay {
  color: #fff;
}

.overlay--active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $base-color;
  z-index: 1000;
}

.navbar-responsive-menu {
  display: flex;
  flex-direction: column;
  padding: 2rem; 
  width: 100%; 
}

.navbar-responsive-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  height: 100%; 
  padding: 2rem;
  width: 100%;
}

.overlay-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.overlay-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.navbar-mobile-item {
  background-color: $second-color;
  padding: 1rem;
  border-radius: 5px;
  width: 60%;
  text-align: center;
}

.navbar-responsive-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color: #ffff;
  background-color: $base-color;
  border: none;
}


@media screen and (max-height: 450px) {
  .navbar-responsive-open-button, .navbar-profile-img {
    display: block;
}

.navbar-pro, .navbar-inscription, .navbar-connexion {
    display: none;
}
}

@media only screen and (max-width: 800px) {
  .navbar-responsive-open-button, .navbar-profile-img {
      display: block;
  }

  .navbar-item {
      display: none !important;
  }

  .navbar-panier {
      display: block !important;
  }
}
