@import '../../../../styles/vars';

.category {
  display: flex;
  justify-content: space-between;
  margin: 3rem;

  .category-title {
    border-radius: 0.5rem;
    padding: 0.7rem;
    margin-right: 2rem;
    font-size: 20px;
    font-weight: bolder;
    color: white;
  }

  .category-button{
    color: $third-color;
  }
}

@media screen and (max-width:800px) {
  .category {
    display: flex;
    justify-content:space-between;
    margin: 3rem;
  }
}
