@import '../../../../styles/vars';

.category {
  display: flex;
  justify-content: center;
  margin: 3rem;

  .category-title {
    background-color: $second-color;
    border-radius: 0.5rem;
    padding: 0.7rem;
    margin-right: 2rem;
  }

  .category-button{
    background-color: $second-color;
    border-radius: 1rem;
  }
}
