@import '../../../styles/vars.scss';

.footer {
    background-color: $second-color;

    &-logo {
        display: flex;
        justify-content: center;
    }
    

    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-linkOne {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-right: 2rem;  
    }

    &-linkTwo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-right: 2rem;  
    }

    &-link1 {
        background-color: $base-color;
    }
    &-link2 {
        background-color: $base-color;
    }
    &-link3 {
        background-color: $base-color;
    }
    &-link4 {
        background-color: $base-color;
    }
    &-link5 {
        background-color: $base-color;
    }
    &-link6 {
        background-color: $base-color;
    }

    &-sociaux {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
        border-radius: 1rem;
        gap: 1rem;
    }

    &-sociaux-icons {
        background-color: $button-color;
        padding: 0.3rem;
        display: flex;
        align-items: center;
        border-radius: 5px;
    }
}
