@import '../../../styles/vars';

.search-container{
  width: 50%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container li {
  margin-bottom: 0.2rem;
  color: #fff;
  background-color: $second-color;
  padding: 0.5rem;
  border-radius: 5px;
}

.product-search {
  margin: 1rem;
    background-color: $second-color;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    width: 50%;
}

input::placeholder {
  color: white;
  font-weight: bold;
}

@media screen and (max-width:800px) {
  .search-container{
    width: 70%;
    margin: 2rem auto;
  }
  
  
}

@media screen and (max-width:400px) {
  .search-container{
    width: 100%;
    margin: 2rem auto;
  }

}
